* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    color: #333333;
    font-family: 'PingFangSC', 'Microsoft YaHei', 'Arial', sans-serif;
}

ul {
    list-style: none;
}

li > a {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

textarea {
    font-family: inherit;
    resize: none;
}